.tile{
    height: 10vh;
    width: 10vh;
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
}

.odd{
    background-color: #DDDDDD;
}

.even{
    background-color: #222222;
}

.chess-piece{
    height: 90%;
    width: auto;
}

.highlight{
    border: 2px solid chartreuse;
}